{% extends "base.html" %}
{% block content %}
    <div class="col-md-4 offset-md-4 myauto">
        
        <div class="card">
            <div class="card-header border-warning text-center">
                <span>Log In</span>
            </div>   
                
            <div class="card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        
                        {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-control-label")}}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-warning btn-block") }}
                    </div>
                </form>
            </div>
            <div class="ml-4 mb-2">
                <small>
                    <a href="{{url_for('users.reset_request')}}">Forgot password?</a>
                </small> 
             </div>
        </div>
        <div class="mt-2">
            <small>
             <span> Don't have an account? <a href="{{url_for('users.signup')}}">Sign Up</a> </span>
             </small> 
         </div>

    </div>
{% endblock %}